<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Order<ion-button fill="clear"><ion-icon color="success" name="checkmark-outline"></ion-icon></ion-button><ion-button fill="clear"><ion-icon color="danger" name="close-outline"></ion-icon></ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button fill="clear"><ion-icon color="success" name="checkmark-outline"></ion-icon></ion-button><ion-button fill="clear"><ion-icon color="danger" name="close-outline"></ion-icon></ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button fill="clear"><ion-icon color="success" name="checkmark-outline"></ion-icon></ion-button><ion-button fill="clear"><ion-icon color="danger" name="close-outline"></ion-icon></ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button fill="clear"><ion-icon color="success" name="checkmark-outline"></ion-icon></ion-button><ion-button fill="clear"><ion-icon color="danger" name="close-outline"></ion-icon></ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button fill="clear"><ion-icon color="success" name="checkmark-outline"></ion-icon></ion-button><ion-button fill="clear"><ion-icon color="danger" name="close-outline"></ion-icon></ion-button></ion-label>
    </ion-item>
  </ion-list>

</ion-content>
