<ion-header>
  <ion-toolbar color="medium" class="ion-text-center">
    <ion-title> About Us </ion-title>
    <ion-menu-button color="dark" menu="main-menu" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="assets/banner1.png"/>

  <ion-grid>
    <ion-row>
  <ion-col class="ion-padding">

  <div><p> Establish in 2019, my henna striving to make your dream wedding come true using art to accessorize you on your new life journey. From the moment we arrived, everything was taken care of right down to the smallest details to make ur wedding meaningful and unforgettable. Beauty comes in every shapes and size. Let us color your way to beautiful tomorrow.</p></div>

</ion-col>
</ion-row>
</ion-grid>

</ion-content>
