<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-text color="medium">
      <p>We will be in touch with you soon!</p>
    </ion-text>

    <ion-item>
      <ion-card>
      
        <ion-card-content>
          <ion-icon name="call"></ion-icon> 0175500139 <br> - Mrs.Anise
        </ion-card-content>
      </ion-card>
      </ion-item>
    </div>
</ion-content>
