<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-text color="medium">
      <p>We will be in touch with you soon!</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="post.name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" placeholder="your@gmail.com" [(ngModel)]="post.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Message</ion-label>
      <ion-input [(ngModel)]="post.message"></ion-input>
    </ion-item>

    <ion-button expand="block" color="medium" (click)="createPost(post)">
      <ion-icon slot="start" name="send"></ion-icon>Send</ion-button>
    </div>
</ion-content>
