<ion-header>
  <ion-toolbar color="medium" class="ion-text-center">
    <ion-title> Gallery </ion-title>
    <ion-menu-button color="dark" menu="main-menu" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-card>
      <img src="assets/17.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/34.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/18.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/33.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/46.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/19.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/32.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/20.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/31.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/21.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/30.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/22.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/29.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/23.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/28.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/24.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/27.JPG" />
    </ion-card>

    <ion-card>
      <img src="assets/25.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/26.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/35.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/36.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/37.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/38.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/39.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/40.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/42.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/41.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/43.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/48.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/44.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/45.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/47.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/55.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/16.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/52.jpg" />
    </ion-card>

    <ion-card>
      <img src="assets/48.jpg" />
    </ion-card>

</ion-content>
