<ion-app>
  <ion-menu content-id="main" menuId="main-menu" side="start" type="reveal">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/view-post']">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Me</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/designdetails']">
          <ion-icon name="rose" slot="start"></ion-icon>
          <ion-label>Design & Details</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/preparation']">
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label>Preparation</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/aboutus']">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>About Us</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>