<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Please upload your online payment receipt! thankyou.</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Attach receipt here</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form action="/action_page.php">
        <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" name="myfile"><br><br>
        <input type="submit">
      </form>
    </ion-card-content>
  </ion-card>



</ion-content>