<ion-header>
  <ion-toolbar color="medium" class="ion-text-center">
    <ion-title> Preparation </ion-title>
    <ion-menu-button color="dark" menu="main-menu" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<img src="assets/banner2.png">

<ion-grid>
  <ion-row>
<ion-col class="ion-padding">

  <div><p>Scrub on the hands, feet, and between the fingers every day a week before henna. Otherwise, the henna colour will be patchy.<br><br>
  Doing a manicure and pedicure is only allowed one month before henna. Otherwise, the henna colour does not stick to the nails.<br><br>
  To look more beautiful, nails must be cut and trimmed before applying henna.<br></p></div>

</ion-col>
  </ion-row>
</ion-grid>

</ion-content>