<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">My Henna</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Henna</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <ion-button fill="clear" color="primary" [routerLink]="['/user']">USER</ion-button>
    <p>Or</p>
    <ion-button fill="clear" color="primary" [routerLink]="['/admin']">ADMIN</ion-button>
  </div>
</ion-content>
